@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

nav a.active {
  font-weight: bold;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  nav a.active {
    color: rgb(7, 142, 108);
  }
}

.chartContainer {
  width: 700px;
}
